<h1>My Orders</h1>

<div id="orders">
  <% if @orders.any? %>
    <table>
      <thead>
        <tr>
          <th>Order Date</th>
          <th>Order ID</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime("%B %d, %Y") %></td>
            <td><%= order.stripe_payment_id %></td>
            <td><%= number_to_currency(order.total_in_cents / 100.0) %></td>
            <td><%= link_to "View Details", order %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>You have not placed any orders yet.</p>
  <% end %>
</div>